body {margin:0px;padding:0px;background-color:silver;margin-left:auto;margin-right:auto;background:url('bg-logo.jpg');}


.heading{

position:absolute;
right:40px;
top: 0px;
width:200px;
border-style:solid; border:0px; border-color:#000000;
color:white;
font-style: oblique
}

.subheading{

position:absolute;
left:40px;
top: 200px;
width:250px;
border-style:solid; border:0px; border-color:#000000;
color:white;
font-style: italic
}


div.testbar {
position:absolute;
left:0px;
top: 35px;
width:400px;
border-style:solid; border:0px; border-color:#000000;}




div.footer {
position:absolute;
left:20px;
top: 600px;
width:250px;
align:center;
color:white;
height:20px;
border-style:solid; border:0px; border-color:#000000;
background-image:url(menu.png);
}




ul.topbar {background-image:url(menu.png);height:40px;width:100%;background-repeat:repeat;position:absolute;left:0px;top:20px;margin:0px}
li.second {float:left;}
ul.topbar a {color:white; padding-left:32px;padding-right:32px; text-decoration:none;line-height:40px; font-size:17px;}
ul.topbar a {background-image:url(line.png);background-repeat:no-repeat;display:block;}
ul.topbar a:hover{color:silver;background-color:black;}

ul.bottom {background-image:url(navfooter.png);height:30px;width:100%;background-repeat:repeat;}
li.third {float:right;}
ul.bottom a {color:white; padding-left:32px;padding-right:32px; text-decoration:none;line-height:30px; font-size:15px;}
ul.bottom a {background-image:url(linefooter.png);background-repeat:no-repeat;display:block;}
ul.bottom a:hover{color:silver;background-color:black;}
ul.bottom {font-size:15px;color:white;}

